.SideDrawer {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #EAEAEA;
    z-index: 200;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.block {
    display: block;
    width: 100%;
    border: 1px solid grey;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}

.signIn {
    position: absolute; 
    z-index: 5;
    display: block;
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px 35px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    outline: none;
    background-color: #FA6400;
    top: 5%;
    left: 10%;
}