.SideDrawer {
    position: fixed;
    /* width: 100%; */
    height: 100%;
    left: 0;
    top: 56px;
    background-color: #EAEAEA;
    z-index: 200;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.block {
    display: block;
    width: 100%;
    border: 1px solid grey;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

@media (max-width: 600px) {
    .SideDrawer {
        display: none;
        width: 30%;
        color: blue;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}

