.Button {
    background-color: transparent;
    border: none;
    color: white;
    backGround-color: black;
    border-radius: 45px;
    outline: none;
    cursor: pointer;
    padding: 12px;
    font-weight: bold;
}

.Success {
    color: #FA6400;
}

.Danger {
    color: #944317;
}