.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #FA541C;
}

.Logo {
    height: 80%;
}

input[type=text]{  
    width: 100%;  
    padding: 12px 40px; 
    display: inline-block;  
    border: 1px solid #ccc;  
    border-radius: 60px;
    box-sizing: border-box;  
    outline: none;
    z-index: 21;
}  
.input[type=text]:focus {
    color: white;
    background-color: #FA6400;
}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
}
.inputWithIcon {
    position: relative; 
    z-index: 20;
    padding-left: 20px;
    padding-right: 10px;
}
.inputWithIcon i{ 
    position: absolute; 
    left: 0; 
    padding: 12px 28px;
    color: #aaa;
    transition: 0.3s;
} 

.toolBarIcon {
    position: relative; 
    padding-right: 5px;
    z-index: 20;
    width: 100% ;
    height: 100%;
    font-size: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
i { 
    z-index: 22;
    color: black;
    transition: 0.3s;
}