.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #FA541C;
}

.Logo {
    height: 80%;
}

input[type=text]{  
    width: 100%;  
    padding: 12px 40px; 
    display: inline-block;  
    border: 1px solid #ccc;  
    border-radius: 60px;
    box-sizing: border-box;  
    outline: none;
    z-index: 6;
}  
.input[type=text]:focus {
    color: white;
    background-color: #FA6400;
}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
}
.inputWithIcon {
    position: relative; 
    z-index: 5;
    padding-left: 20px;
    padding-right: 10px;
}
.inputWithIcon i{ 
    position: absolute; 
    left: 0; 
    padding: 12px 28px;
    color: #aaa;
    transition: 0.3s;
} 

.block {
    position: relative; 
    z-index: 5;
    display: block;
    width: 60px;
    height: 60%;
    font-size: 20px;
    cursor: pointer;
    padding-right: 13px;
    float: right;
    outline: none;
    border: 1px solid #ccc;  
    border-radius: 60px;
    background-color: #FA541C;
}
i { 
    z-index: 250;
    color: black;
    transition: 0.3s;
}