.Logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.Logo img {
    height: 100%;
}