.Logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}