.block {
    position: relative; 
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    padding-right: 13px;
    float: right;
    outline: none;
    border: 1px solid #ccc;  
    border-radius: 60px;
    background-color: #FA541C;
}